[submodule "submodules/awx"]
	path = submodules/awx
	url = https://github.com/ansible/awx.git
	branch=7.0.0
[submodule "plugins/mitogen"]
	path = plugins/mitogen
	url = https://github.com/dw/mitogen.git
        branch = v0.2.8
