.vagrant
*.swo
*.swp
*.retry
*.lock
.idea/
.test/
**/.molecule/
**/.cache/
**/__pycache__/
**/.ropeproject
files/kvm/**
files/images/**
resources/**
**/*.pyc
.python-version
inventory/artifacts/
/credentials/**
/library/**
